<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <form method="POST">
        <div class="container">
            <div class="jumbotron">
                <h2>Fill the form</h2>
                <h1>Register Here!!</h1>
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn.primary" value="Register"/>
            </div>
        </div>
    </form>
</body>
</html>